/* * { border: 1px solid black; } */
.App {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  /* background-image: linear-gradient(160deg, rgb(75, 156, 221), #66BDCC);; */
}

.Nav {
  position: absolute;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(135deg, rgb(75, 156, 221), #66BDCC);
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.Title {
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 43px;
}

.FlexColumns {
  display: flex;
  flex-direction: row;
}

.LeftColumn {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  min-width: 400px;
}

.RightColumn {
  display: flex;
  width: 0;
  height: 100vh;
  /* min-width: 400px; */
  transition-duration: 0.3s;
}

.FilterStudents {
  color:black;
  padding: 20px;
  margin: 20px;
  margin-top: 80px;
  overflow-y: scroll;
  background-color: white;
}

.Filter {
  width: 100%;
  float: left;
}

.CreateNew{
  position: relative;
  float: left;
  width: 20%;
}

.StudentFilterTable {
  height: 150px;
  width: 100%;
}

.StudentTableContainer {
  color:black;
  flex-grow: 1;
  padding:10px;
  margin: 20px;
  overflow-x: scroll;
}

.StudentTable {
  width: 100%;
  font-size: 23px;
}

.StudentTableHeader {
  font-weight: bold;
}

.StudentRow {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  /* white-space: nowrap; */
}

.StudentRowDate {
  white-space: nowrap;
}

.StudentTable td, .StudentTable th {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.StudentTable tbody tr:hover {
  border-width: 1px;
  background: rgb(75, 156, 221, 0.1);
}

.StudentInfo {
  overflow-y: scroll;
  background-color: white;
  color:black;
  flex-grow: 1;
  margin: 20px;
  float:right;
  padding: 15px;
  margin-top: 80px;
}

.StudentInfo, .FilterStudents, .StudentTableContainer {
  box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
  /* background-color: rgb(233, 233, 233); */
  outline-style: solid;
  outline-width: 1px;
  outline-color: rgba(0, 0, 0, 0.068);
}

.BackButton {
  font-size: 30px;
  background: none;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.20);
  border: none;
  background-color: rgb(126, 192, 247);
  margin: 10px;
  color: white;
  white-space: nowrap;
}

.Button {
  text-align: center;
  font-size: 25px;
  min-width: 70%;
  display: table;
  margin: 20px auto;
  background: rgb(75, 156, 221);
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(58, 142, 211);
  box-shadow: 0px 3px 5px rgba(0,0,0,0.20);
  padding: 5px;
  min-width: 10px;
  flex-grow: 1;
  margin: 20px;
  outline: none;
}

.Button:active {
  box-shadow: none;
}

.SubmitButton {
  text-align: center;
  font-size: 30px;
  min-width: 70%;
  display: table;
  margin: 20px auto;
  background-color: rgb(48, 156, 21);
  background-image: linear-gradient(135deg, rgb(101, 204, 75), rgb(83, 197, 55));;
  color: white;
  border: none;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.20);
  padding: 5px;
  min-width: 10px;
  flex-grow: 1;
  margin: 20px;
  margin-bottom: 5px;
}

.Button, .BackButton, .SubmitButton, .LogSubmit, .LogDelete {
  cursor: pointer;
  border-radius: 5px;
}

.NewStudent {
  background-color: #438CD0;
  color: white;
  border: none;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.20);
  padding: 10%;
  min-width: 10px;
  flex-grow: 1;
  font-size: 19px;
}

.ButtonHolder {
  display: flex;
}

.Heading {
  font-size: 35px;
  margin-bottom: 10px;
  /* padding: 10px; */
}

.FilterHeading {
  font-size: 35px;
}

.NewLine {
  margin: 10px;
  font-size: 25px;
  width: 475px;
}

.Names {
  width: 135px;
  font-size:20px;
  text-align: right;
}

.StudentInfoTable {
  width: 100%;
  border-spacing: 0 6px;
}

.InputLabel, .LeftInputLabel {
  width: 180px;
  font-size:20px;
  /* text-align: right; */
  text-align: left;
  padding-right: 10px;
  /* padding-left: 10px; */
  /* background: yellow; */
}

.LeftInputLabel {
  text-align: left;
  width: 100px;
  white-space: nowrap;
}

.InputField:read-only {
  /* border-width: 1px; */
  border-color: rgb(223, 223, 223);
  user-select: none;
  outline-width: 0;
  /* border: none; */
  /* font-weight: bold; */
}

.InputField:not(read-only) {
  border-style: solid;
  border-color: rgb(75, 156, 221);
  border-width: 1px;
}

.InputField {
  font-size: 20px;
  width: 95%;
  min-width: 150px;
  margin: 1.3px;
  transition-duration: 0.15s;
  padding-left: 7px;
}

.InputSelect {
  color: black;
  border-color: rgb(75, 156, 221);
  font-size: 20px;
  width: 99%;
  min-width: 150px;
  margin: 1.3px;
  border-radius: 0;
}


.InputSelect:disabled {
  border-color: rgb(223, 223, 223);
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.DateTable {
  width: 100%;
  /* padding-left: 10px; */
  /* padding-right: 20px; */
  border-spacing: 0 6px;
}

.SmallHeading {
  font-size: 36px;
  /* padding-left: 10px; */
  padding-right: 0;
  padding-top: 10px;
}

.SpecialHeading {
  font-size: 25px;
  margin-top: 10px;
}

.TableHeading {
  font-size: 30px;
  /* margin-left:10px; */
  margin-top: 20px;
}

.Dates {
  padding: 10px;
  font-size:20px
}

.SmallLine {
  font-size:20px;
  width: 300px;
}

.AdmissionTable {
  overflow-y: auto;
  width: 100%;
  padding-right: 10px;
}

.AdmissionTableRow {
  width: 100%;
  display: flex;
}

.AdmissionField {
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.AdmissionText {
  font-size: 20px;
  margin-left: 13px;
  margin-right: 10px;
  text-align: center;
}

.StudentPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.InnerPopup {
  /* min-width: 90%; */
  height: 75%;
  margin: 0 auto;
  background: white;
  overflow-y: scroll;
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

.PopupHeader {
  width: 100%;
  display: flex;
  background-color: rgb(75, 156, 221);
  color: white;
}

.PopTitle {
  font-size: 35px;
  width: 100%;
  padding-right: 110px;
  padding-top: 7px;
  text-align: center;
}

.NewTitle {
  position: relative;
  left: 16%;
}

.PopTable {
  overflow-y: auto;
  width: 100%;
  padding: 10px;
}

.Log {
  /* width: 100%; */
  width: 100%;
  padding-top: 1px;
  padding-bottom: 5px;
  /* border-bottom: 1px solid #ddd; */
  box-shadow:inset 0px 0px 0px 1px grey;
  background-color: rgb(75, 156, 221, 0.2);
  margin-bottom: 25px;
}

.DateRow {
  /* width: 100%; */
  width: 100%;
  padding: 5px;
  margin: 20px;
  /* background-color: rgb(75, 156, 221, 0.2); */
}

.LogHeader {
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
  margin: 5px;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
}

.PopSpan {
  font-size: 20px;
  /* padding: 10px; */
  white-space: nowrap;
}

.PopInput {
  font-size: 20px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.LogHeaderSection {
  flex-grow: 1;
  display: flex;
}

.LogBody {
  display: flex;
  margin: 15px;
}

.NoteInput {
  font-size: 18px;
  flex-grow: 1;
  border: none;
  box-shadow:inset 0px 0px 0px 1px grey;
  resize: none;
  margin-right: 10px;
  padding: 5px;
}

.LogSubmit {
  font-size: 25px;
  background-image: linear-gradient(135deg, rgb(108, 180, 238), rgb(75, 156, 221));
  box-shadow: 0px 3px 5px rgba(0,0,0,0.20);
  color: white;
}

.LogDelete {
  font-size: 25px;
  background-image: linear-gradient(135deg, rgb(218, 94, 89), rgb(211, 43, 31));
  box-shadow: 0px 3px 5px rgba(0,0,0,0.20);
  color: white;
  margin-left: 5px;
}